# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native / Android / iOS
.android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment / secrets
.env
.env*.local
./foodxp-2a83b-firebase-adminsdk-fbsvc-6b08bbb3c5.json

# macOS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
