const { getDefaultConfig } = require("expo/metro-config");
const config = getDefaultConfig(__dirname);

config.resolver.sourceExts = [...config.resolver.sourceExts, "ts", "tsx"];

// Ignore TypeScript in node_modules except for your own project
config.resolver.blockList = [/node_modules\/.*\.ts$/];

module.exports = config;
